.container {
  background-color: rgb(160 160 160);
  display: flex;
  height: 400px;
}

.display {
  background-color: rgba(0 0 0 / 30%);
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  text-align: end;
  height: 30px;

  &:focus {
    outline: none;
  }
}

.mainButtonsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  width: 300px;
}

.extraButtonsContainer {
  background-color: rgb(80 80 80);
  overflow: hidden;
  transition: width, padding;
  transition-duration: 1s;
}

.extraButton {
  background-color: orange;
  border-radius: 50%;
  border: none;
  position: absolute;
  left: -10px;
  top: 40px;
  width: 20px;
  height: 20px;
}
